<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ТЅЊтѕ╗сѓњУ┐йтіасЂЌсЂЙсЂЌсЂЪ - ТЅЊтѕ╗сѓбсЃЌсЃф</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">ТЅЊтѕ╗сѓбсЃЌсЃф</div>
      <div class="header-list">
        <ul>
          <li><a class="link" href="/">сЃЏсЃ╝сЃа</a></li>
          <li><a class="link" href="/begin">тЄ║тІц</a></li>
          <li><a class="link" href="/finish">жђђтІц</a></li>
          <li><a class="link" href="/timestamp_list">ТЅЊтѕ╗СИђУдД</a></li>
          <li><a class="link" href="/todolist">TODOсЃфсѓ╣сЃѕуиежЏє</a></li>
          <li><a class="link" href="/setting">УеГт«џ</a></li>
        </ul>
      </div>
    </div>
    <h1 class="toptitle1">У┐йтіасЂЌсЂЙсЂЌсЂЪ№╝Ђ­ЪЇј</h1>
  </body>
</html>