<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>設定を編集する - 打刻アプリ</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="header">
      <div class="header-logo">打刻アプリ</div>
      <div class="header-list">
        <ul>
          <li><a class="link" href="/">ホーム</a></li>
          <li><a class="link" href="/begin">出勤</a></li>
          <li><a class="link" href="/finish">退勤</a></li>
          <li><a class="link" href="/timestamp_list">打刻一覧</a></li>
          <li><a class="link" href="/todolist">TODOリスト編集</a></li>
          <li><a class="link" href="/setting">設定</a></li>
        </ul>
      </div>
    </div>

   <form action="/setting/update/<%= setting.id %>" method="post">
        <p> <%= setting.name %></p>
       <input type="text" name="newcontent" value="<%= setting.content %>">
       <input type="submit" value="更新する">
   </form>
  </body>
</html>

