<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODOсЃфсѓ╣сЃѕсЂФУ┐йтіасЂЎсѓІ - ТЅЊтѕ╗сѓбсЃЌсЃф</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="header">
      <div class="header-logo">ТЅЊтѕ╗сѓбсЃЌсЃф</div>
      <div class="header-list">
        <ul>
          <li><a class="link" href="/">сЃЏсЃ╝сЃа</a></li>
          <li><a class="link" href="/begin">тЄ║тІц</a></li>
          <li><a class="link" href="/finish">жђђтІц</a></li>
          <li><a class="link" href="/timestamp_list">ТЅЊтѕ╗СИђУдД</a></li>
          <li><a class="link" href="/todolist">TODOсЃфсѓ╣сЃѕуиежЏє</a></li>
          <li><a class="link" href="/setting">УеГт«џ</a></li>
        </ul>
      </div>
    </div>

    <h1 class="toptitle1">сѓ┐сѓ╣сѓ»сѓњУ┐йтіасЂЎсѓІ ­ЪЈЃ</h1>
   <form action="/todolist/add/update" method="post">
       <input type="text" name="newtask">
       <input type="submit" value="У┐йтіа">
   </form>
  </body>
</html>